{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Profile</title>

{% endblock %}
{% block body %}
    <div class="grid grid-cols-3">
        <div class="col-start-2">
           <div>
            <h3> {{ user.username }} </h3>
            <p> Full name: {{ user.first_name }} {{ user.last_name }}</p>
            <p> Your email: {{ user.email }}</p>
            <p> Registration Date: {{ user.date_joined }}</p>
        </div>
        </div>
        
    </div>
{% endblock %}